@charset "utf-8";

/*
	Maintainer: monsterb
	Contact: unix.s3c (at) gmail (dot) com
	URL: https://www.oggcastplanet.org 
	*/

* { line-height: 1.5; margin: 0px; padding: 0px; }

html, body
{
	margin:20px 0 25px 0;
	padding:0;
	color:silver;
	font-family:'Lucida Console','Bitstream VeraSans Mono','DejaVu Sans Mono',monospace;
	font-size:14px;
	font-weight:500;
	line-height:1.5;
        background: #393939;
	background: -moz-radial-gradient(circle, #a20000, #000000);
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a20000), to(#000000));
	background: -webkit-radial-gradient(circle, #a20000, #000000);
}


a:link { color: #ffffff; }
a:hover { color: #ffffff; background-color: red; }
a:visited { color: #ffffff; }

ul {
	list-style-type: none;
	position: relative;
	margin-left: 1em;
	padding-left: 0;
}

li:before {
	content: "\2666";
	position: absolute;
	left: -1em;
	color: #a20000;
	margin-right: 5px;
}

li {
	margin: 25px 0;
}


a.tooltip { position:relative; }
a.tooltip span { display:none; }


#container
{
	position: relative;
	border-width: 1px;
	-moz-box-shadow: 0 0 15px #888;
	-webkit-box-shadow: 0 0 15px #888;
	box-shadow: 0 0 15px #888;
	border-style: solid;
	border-color: silver;
	width: 700px;
	min-height: 600px;
	margin:0 auto;
	background-color: #0f0f0f;
}

#header
{
	margin: 0 auto 0 auto;
	padding: 10px;
	height: 100px;
	text-align: center;
	background-color: black;
}


#topbar
{ 
	margin: 0 auto 0 auto;
	white-space: nowrap; 
	line-height: 2.0; 
	height: 30px; 
	color: #ffffff;
	background-image : url('blackbar.gif');
	text-align: center;
	border-width: 1px;
	border-color: silver;
	border-top-style: solid;
	border-bottom-style: solid;
}


#topbar a
{ 
	text-decoration: none;
	font-weight: bold;
	position: relative; 
	height: 30px; 
	line-height: 2.0; 
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center; 
	border-left: 1px solid transparent ;
	border-right: 1px solid transparent ; 
}


#topbar a:hover
{ 
	padding-top: 6px; 
	padding-bottom: 8px; 
	background-color: black;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff; 
	height: 100% ; 
}


#main 
{
	float: left;
	margin: 0 0 0 0;
	width: 660px;
	min-height: 575px;
	padding: 19px;
}

#playogg 
{
	clear:both;
	text-align:center;
	background-color: black;
	border-color: silver;
	border-top: 1px;
	border-top-style: solid;
	padding-top: 15px;
}

#footer 
{
	clear:both;
	text-align:center;
	font-size: small;
	font-weight: bold;
	background-color: black;
	border-color: silver;
	border-top: 1px;
	padding: 5px;
}